/cli/vendor/phpmailer
/cli/vendor/Landers/Classes/desktop.ini
/cli/vendor/Landers/Tasks/desktop.ini
/web/static/vendor/Landers/Classes/desktop.ini
/web/static/vendor/Landers/Core/desktop.ini
/web/static/vendor/Landers/Functions/desktop.ini
/web/static/vendor/Landers/Classes/公文包数据库
/web/static/vendor/Landers/Core/公文包数据库
/web/static/vendor/Landers/Functions/公文包数据库
/cli/vendor/Landers/Classes/公文包数据库
/cli/vendor/Landers/Tasks/公文包数据库
/cli/apps/CrontabA/data/random.xml
/web/static/vendor/Landers/sync.ffs_db
/sftp-config.json
/vendor
/xxx-sftp-config.json
/composer.lock
/storage/logs
/apps/ExpireRemind/logs
/.idea
